body {
  font-family: 'Arial';
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

#text {
  font-size: 1.5rem;
  font-style: italic;
  color: #333;
  margin-bottom: 20px;
}

#author {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  text-align: right;
}

#bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#new-quote {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#tweet-quote {
  font-size: 1.5rem;
  color: #1da1f2;
  text-decoration: none;
}
